services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - '5173:5173'
        volumes:
            - .:/app
            - node_modules:/app/node_modules
        container_name: freshcell-app-dev

volumes:
    node_modules:
